@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
  
:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
  --black: #1e1e1e

}

body {
  background: var(--black);
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.card {
  background: var(--black);
  max-width: 300px;
  max-height: 300px;
  padding: 3px;
  position: absolute;
  border-radius: 300px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  font-family: cursive;
  top: 35vh;
  left: 10vw;
  z-index: 2;

}

.card img{
  position: relative;
  top: 3px;
  width: 100%;
  height: 100%;
  border-radius: 300px;
  align-items: center;
  z-index: 2;
  border: 5px solid #191c29;
}
  
.card::before {
  content: "";
  height: calc(100%);
  width: calc(100%);
  border-radius: 300px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  padding: 4px;
  position: relative;
  border-radius: 300px;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: -2%;
  left: -1.25%;
  animation: spin 8s linear infinite;
}
  
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
  
a {
  color: rgb(183, 183, 183);
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  /* margin-top: 2rem; */
}

h2{
  font-size: 2.15rem;
  top: 17vh;
  left: 55px;
  margin-bottom: 0px;
  color: rgb(183, 183, 183);
  font-family: 'Roboto Mono', monospace; 
  position: absolute;
  z-index: 2;
}

h3{
  position: absolute;
  left: 55px;
  top: 82vh;
  font-size: 2rem;
  color: rgb(183, 183, 183);
  font-family: 'Roboto Mono', monospace;
  z-index: 2;
}

.svgload{
  position: absolute;
  width: 0px;
  height: 0px;
  top: 100px;
}

.load2{
  position: absolute;
  width: 20vw;
  height: 70%;
  top: 100px;
}

.gapbox{
  position: absolute;
  width: 50%;
  height: 35%;
  top: 55vh;
  left: 25vw;
  z-index: 1;
  color: --black;
  background-color: var(--black);
}

.aboutInfo{
  position: absolute;
  width: 100%;
  height: 34vh;
  top: 350px;
  z-index: -3;
}

.personalInfo{
  position: absolute;
  width: 40%;
  height: 60%;
  top: 50vh;
  left: 3vw;
  z-index: 1;
  color: rgb(183, 183, 183);
  font-family: 'Roboto Mono', monospace;
  font-size: .75rem;
}

.personalInfo br{
  display: block; 
  content: ""; 
  margin-top: 50px; 
}

.friendPic{
  content: "";
  width: 100vw;
  top: 85vh;
  height: 35vh;
  left: 50vw;
  padding-left: 50vw;
  padding-top: 55vh;
}

.friendPic img{
  top: 50vh;
  width: 100%;
  border-radius: 20px;
}

.jordanInfo{
  position: absolute;
  width: 40%;
  height: 60%;
  top: 50vh;
  left: 3vw;
  z-index: 1;
  color: rgb(183, 183, 183);
  font-family: 'Roboto Mono', monospace;
  font-size: .75rem;
}

.jordanInfo br{
  display: block; 
  margin-top: 50px;
  color: rgb(183, 183, 183); 
  padding-bottom: 10vh;
}

.jordanInfo img{
  width: 45%;
}

@media screen and (min-width: 768px) {
  .card {
    z-index: 10;
    top: 30vh;
    left: -8%;
    position: absolute;

  }

  .gapbox{
    top: 14vh;
  }

  .card::before {
    left: -4px;
    top: -4px;
    height: 36vh;
    width: 36vh;
  }

  .card img {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 35vh;
    width: 35vh;

  }

  h2{
    font-size: 3rem;
    position: absolute;
    left: 50vw;
    top: 40vh;
    z-index: 2;

  }
  h3{
    position: absolute;
    top: 50vh;
    left: 55vw;
    z-index: 2;
    width: 35%;
  }

  .svgload{
    position: absolute;
    top:40vh;
    width: 100vw;
    height: 0px;
  }

  .personalInfo{
    font-size: 1rem;
    left: 5vw;
    top: 50vh;
    width: 39%;
  }

  .personalInfo br{
    margin-top: 45px; 
  }

  .friendPic{
    width: 90vw;
    padding-left: 67vw;
  }

  .jordanInfo{
    top: 111.5vh;
    left: 23vw;
    font-size: 1.5rem;
  }

  .jordanInfo img{
    content: "";
    padding-top: 27.75vh;
    padding-left: 13vw;
    width: 111%;
  }
}

@media screen and (min-width: 820px){
  .jordanInfo img{
    content: "";
    padding-top: 27.75vh;
    padding-left: 7vw;
    width: 103%;
  }
}


@media screen and (min-width: 1366px){
  .card {
    z-index: 10;
    top: 25vh;
    left: -5%;
    position: absolute;

  }

  .gapbox{
    top: 14vh;
  }

  .card::before {
    left: -2px;
    top: -2px;
    height: 56vh;
    width: 56vh;
  }

  .card img {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 55vh;
    width: 55vh;

  }

  h2{
    font-size: 3rem;
    position: absolute;
    left: 65vw;
    top: 45vh;
    z-index: 2;

  }
  h3{
    position: absolute;
    top:55vh;
    left: 68vw;
    z-index: 2;
  }

  .svgload{
    position: absolute;
    top:50vh;
    width: 100vw;
    height: 0px;
  }

  .personalInfo{
    font-size: 1rem;
    left: 12vw;
    top: 70.5vh;
    width: 30%;
  }

  .personalInfo br{
    margin-top: 45px; 
  }

  .friendPic{
    width: 70vw;
    padding-left: 60vw;
  }

  .friendPic img{
    padding-top: 15vh;
    padding-left: 1vw;
    width: 130%;
  }

  .jordanInfo{
    top: 117vh;
    left: 36vw;
    font-size: 1.5rem;
  }

  .jordanInfo img{
    content: "";
    padding-top: 38vh;
    padding-left: 6vw;
    width: 62%;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    z-index: 10;
    top: 115px;
    left: -5%;
    position: absolute;

  }

  .gapbox{
    top: 14vh;
  }

  .card::before {
    left: -5px;
    top: -6px;
    height: 67vh;
    width: 67vh;
  }

  .card img {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 65vh;
    width: 65vh;

  }

  h2{
    font-size: 3rem;
    position: absolute;
    left: 900px;
    top: 300px;
    z-index: 2;

  }
  h3{
    position: absolute;
    top:400px;
    left: 950px;
    z-index: 2;
  }

  .svgload{
    position: absolute;
    top:40vh;
    width: 100vw;
    height: 0px;
  }

  .personalInfo{
    font-size: 1rem;
    left: 12vw;
    top: 60vh;
    width: 35%;
  }

  .personalInfo br{
    margin-top: 50px; 
  }

  .friendPic img {
    padding-top: 10vh;
    padding-left: 1vw;
    width: 130%;
}

  .friendPic{
    width: 70vw;
    padding-left: 57vw;
  }

  .jordanInfo{
    top: 122vh;
    left: 36vw;
    font-size: 1.5rem;
  }

  .jordanInfo img{
    content: "";
    padding-top: 39vh;
    padding-left: 5vw;
    width: 64%;
  }
}

@media screen and (min-width: 1920px){
  .card {
    z-index: 10;
    top: 25vh;
    left: -5%;
    position: absolute;

  }

  .gapbox{
    top: 14vh;
  }

  .card::before {
    left: -3px;
    top: -5px;
    height: 56vh;
    width: 56vh;
  }

  .card img {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 55vh;
    width: 55vh;

  }

  h2{
    font-size: 3rem;
    position: absolute;
    left: 65vw;
    top: 45vh;
    z-index: 2;

  }
  h3{
    position: absolute;
    top:55vh;
    left: 68vw;
    z-index: 2;
  }

  .svgload{
    position: absolute;
    top:50vh;
    width: 100vw;
    height: 0px;
  }

  .personalInfo{
    font-size: 1rem;
    left: 12vw;
    top: 70.5vh;
    width: 30%;
  }

  .personalInfo br{
    margin-top: 45px; 
  }

  .friendPic{
    width: 70vw;
    padding-left: 60vw;
  }

  .friendPic img{
    padding-top: 15vh;
    padding-left: 1vw;
    width: 130%;
  }

  .jordanInfo{
    top: 127vh;
    left: 36vw;
    font-size: 1.5rem;
  }

  .jordanInfo img{
    content: "";
    padding-top: 40vh;
    padding-left: 6vw;
    width: 61%;
  }
}

.height-div{
  height: 500px; width: 100%; background:#eeeeee; 
}
.linewrap{display: inline-block;vertical-align: top;width: 100%;}
.linewrap > div{float: left;width: 50%;}
