@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto Mono', monospace; */
    /* background-color: #000; */


}

body{
    background-color: #1e1e1e;
    overflow-x: hidden;
    
}

 /* create a parallax scroll for photo1 and moon image so that the moon image is above the photo1 image  */

.moon {
    max-width: 16vw;
    min-width: 13vw;
    min-height: 13vh;
    height: auto;
    position: absolute;
    border: 44px;
    top: 20%;
    left: 80%;
    z-index: 10;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateZ(20px);     
  }
/*  style="width: 10%; height: auto; background-color: transparent; top: 5rem; 
transform-style: preserve-3d; transform: perspective(1000px); transform: translateZ(20px); 
transform: translate(-50%, -50%);" */

.parallax {
    /* max-width: 2037px;  */
    /* width: 95vw;  */
    /* max-height: 859px;  */
    /* height: auto;  */
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    z-index: 1;
    position: relative;
    font-family: 'Roboto Mono', monospace;

}

.parallax::before{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #212534;
    z-index: 10;

}


.parallax .chat-btn{
    position: absolute;
    bottom:30%;
    left: 50%;
    min-width: 18%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    border: 4px solid rgb(183, 183, 183);
    text-decoration: none;
    text-align: center;
    display:inline-block;
    padding:10px ;
    border-radius:50px;
    background-color: black;
    color: rgb(183, 183, 183);
    font-size: 2rem;
    z-index: 10 !important;
}

.parallax img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: bottom;
    z-index: 10;
}


#chat-button:hover{
    background-color: rgb(183, 183, 183);
    color: black;
    transition: 1s;
}

section{
    background-image: url('https://cdn.discordapp.com/attachments/446823972051353611/1006702754359676978/7996065278_65edb04cc7_o.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.parallax h2{
    max-width: 53%;
    min-width: 19%;
    min-height: 16%;
    max-height: 18%;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 50%;
    position: absolute;
    margin-left: -59vw;
    margin: -25px 0px 0px -135px;
    color: rgb(183, 183, 183);
    border: 4px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.825);
    border-radius: 20px;
    font-size: 2em;
    text-align: center;
    padding: 8px 5px;
    transform: translateZ(20px);
    flex-direction: column;
}

.sec{
    content: "";
    position: relative;
    padding: 100px;
    background: linear-gradient(to top #212534, transparent);
    color: rgb(183, 183, 183);
    font-family: Helvetica;

}

.sec h2{
    font-size: 3rem;
    left: 200px;
    margin-bottom: 15px;
    color: rgb(183, 183, 183);
    font-family: 'Roboto Mono', monospace; 
}

@media (max-width: 450px) {
    .sec h2{
        font-size: 3px;
    }

    .parallax {
        top: calc(100vh / 600px);
        bottom: 10px;
        max-height: 20vh;
        width: 100vw;
        top: 50%;
        height: 50vh;
    }
    .parallax .chat-btn{
        font-size: 12px;
        transform: translate3d(-50%,0,10px);
    }
}

.intro{
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transition: 2s;

}

header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}

.navbar{
    background-color: transparent !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
    font-family: 'Roboto Mono', monospace;

}

header ul{
    background-color:transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

header ul li {
    list-style-type: none ;
    margin: 10px;
    font-size: 0px 10px;
    display: inline-block;
}

header ul li a{
    color: rgb(183, 183, 183);
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    font-family: 'Roboto Mono', monospace;    
}

header ul li a:hover,
section header nav div ul li a:active{
    color: rgb(0, 0, 0);
    background-color: rgb(183, 183, 183);
    z-index: 10000;
    transition: .75s;
}

.logo{
    background-color: transparent !important;
    color: rgb(183, 183, 183);
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    font-family: 'Roboto Mono', monospace;


}

.toggle-btn{
    position: absolute ;
    top: 2rem;
    right: 5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 23px;
    height: 18px;
}

.toggle-btn .bar{
    width: 100%;
    height: 3px;
    background-color: rgb(183, 183, 183);
    border-radius: 10px;
}

.contact-btn {
    font-weight: 300;
    -webkit-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}


@media (max-width: 640px){
    .toggle-btn{
        display: flex;
    }

    .navbar-links{
        display: none;
    }
}




/*
* {
    cursor: none;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cardHeader__logo {
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
} */