@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    background-color: #000;

}

.body{
    background-color: #000;
    overflow-x: hidden;
}

.photo1{   
    height: auto;
    width: 97.25vw;
    overflow-x: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateZ(20px);
}

header{
    /* background-color: rgba(0,0,0,0.0); */
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
}

.navbar{
    background-color: transparent !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-attachment: fixed;
}

header ul{
    background-color:transparent !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header ul li{
    list-style-type: none;
    margin: 10px;
    font-size: 0px 10px;
    display: inline-block;
}

header ul li a{
    color: rgb(183, 183, 183);
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    
}

header ul li a:hover,
header ul li a:active{
    color: rgb(183, 183, 183);
}

.logo{
    background-color: transparent !important;
    color: rgb(183, 183, 183);
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;

}


@media (max-width: 768px){
    .body{
        overflow-x: scroll;
    }
}



/* .cardHeader__logoText_light {
    font-weight: 300;
    -webkit-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}

* {
    cursor: none;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.cardHeader__logo {
    font-size: 26px;
    color: #fff;
    font-weight: 700;
    padding: 10px;
} */