<div class="app-shell">
<div class="app-shell__background" aria-hidden="true">
<div class="app-shell__background-color"></div>
@if (isHomePage()) {
<div class="app-shell__background-pattern" [style.opacity]="1 - homeScrollProgress() * 2.5">
@for (patternItem of patternItems(); track patternItem) {
<span
class="app-shell__background-glyph"
[style.left.px]="patternItem.leftPx"
[style.top.px]="patternItem.topPx"
[style.width.px]="patternItem.widthPx"
[style.height.px]="patternItem.heightPx"
[style.opacity]="patternItem.opacity"
[style.transform]="'rotate(' + patternItem.rotationDeg + 'deg)'"
></span>
}
</div>
}
<div class="app-shell__background-texture"></div>
<div class="app-shell__background-focal-blur"></div>
@if (isHomePage()) {
<div class="app-shell__background-vignette"></div>
}
<div class="app-shell__background-ambient"></div>
</div>

@if (isHomePage() && !isMobileDevice()) {
<app-light-rays
raysOrigin="top-right"
raysColor="#d4923e"
[raysSpeed]="1"
[lightSpread]="0.9"
[rayLength]="1.0"
[pulsating]="false"
[fadeDistance]="0.55"
[saturation]="1"
[followMouse]="false"
[mouseInfluence]="0.18"
[noiseAmount]="0.40"
[distortion]="0"
[style.opacity]="1 - homeScrollProgress() * 3"
></app-light-rays>
}

@if (isHomePage() || isContactPage()) {
  @defer (on idle) {
    <app-dust-particles-gl [lockTouch]="false" [scrollProgress]="homeScrollProgress()"></app-dust-particles-gl>
  } @placeholder {
  }
}

<div class="app-shell__content">
<app-header></app-header>
<router-outlet></router-outlet>
</div>
</div>