body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    scroll-behavior: smooth;
    animation-timing-function: linear;
}

#balloon{
  position: absolute;
  width: 45vw;
  height: 75vh;
  display: grid;
  left: 50%;
  top: 175vh;
}

#augmented{
  position: absolute;
  width: 45vw;
  height: 75vh;
  display: grid;
  left: 50%;
  top: 25vh;
}

#coding{
  position: absolute;
  width: 45vw;
  height: 75vh;
  display: grid;
  left: 50%;
  top: 110vh;
}

#bm {
  content: "";
  left: 0vw;
  position: absolute;
  width: 70vw;
  height: 300vh;
  rotate: 0deg;
  z-index: -1;
}

@media screen and (max-width: 540px){
  #balloon{
    top: 95vh;
    left: 60%;
  }

  #coding{
    top: 50vh;
    left: 60%;
  }

  #augmented{
    top: -10vh;
    left: 62%;
  } 

  #bm {
    content: "";
    left: -50vw;
    position: absolute;
    width: 100vw;
    height: 250vh;
    rotate: 0deg;
    z-index: -1;
  }
}